@import com.github.fedeoasi.Indicator
@(indicator: Indicator)

@main("Indicator") {

<h1>Indicator</h1>

@defining(indicator) { i =>
  <dl>
    <dt>Name</dt>
    <dd>@{i.name}</dd>

    <dt>Category</dt>
    <dd>@{i.category}</dd>

    @for(desc <- i.description) {
      <dt>Description</dt>
      <dd>@desc</dd>
    }

    <dt>Link</dt>
    <dd><a href="@{i.link}">@{i.link}</a></dd>

    @for(extraLink <- i.extraLink) {
      <dt>Extra Link</dt>
      <dd>@extraLink</dd>
    }

    <dt>Tags</dt>
    <dd>@(i.tags.mkString(", "))</dd>
  </dl>
}

}
